/cmake-build-debug
/cmake-build-release
/build

/examples/build
/examples/cmake-build-release
/examples/cmake-build-debug

.clang-format
.idea/
*.csv

!/examples/unicycle_tracking/data/trajectory_curve_20Hz.csv
/examples/unicycle_tracking/cmake-build-release/
/examples/unicycle_tracking/cmake-build-debug/

/examples/unicycle_regulation/cmake-build-release/
/examples/unicycle_regulation/cmake-build-debug/

simple_example
regulation